@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.first-section {
    background-color: #1F2937;
}

/* navbar css */
#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.nav-link {
    font-size: 18px;
    color: #E5E7EB;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 70px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right>div {
    margin: 15px;
}

/* hero */

.hero {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 30px;
    padding-bottom: 50px;
}


.hero-right {
    margin-left: 100px;
    margin-right: 100px;
}

.heroimg {
    width: 600px;
    height: 250px;
    object-fit: cover;
}

#herotext {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.signupbut {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bolder;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 12px;
}


/* Second Section */

.second-section {
    margin-top: 50px;
}

h2{
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.bluecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
}

.bluebox {
    border: 3px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.boxmsg {
    text-align: center;
    font-size: 18px;
}

/* Third Section */
.third-section {
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .quotes {
    font-size: 36px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
    margin-bottom: 0;
  }
  
  .author {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 250px;
  }


/* Fourth Section */

.fourth-section{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.signupbox{
    background-color: #3882F6;
    height: 150px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
}


.calltoaction{
    margin: auto;
    color: #E5E7EB;
}
.callactn{
    display: block;
    margin-bottom: 10px;
}

.paragraph{
    display: block; 
    margin-top: 0;
}

.signupbut2{
    margin: auto;
}

#signup2 {
    background-color: #3882F6;
    border: solid;
    border-color: #E5E7EB;
    border-radius: 10px;
    color: #E5E7EB;
    width: 150px;
    height: 50px;
    font-weight: 800;
    font-size: 18px;
}

/* footer */

.footer{
    height: 100px;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright{
    text-align: center;
}